<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/pages/about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/pages/contact">Contact</a>
  </li>
</ul>